<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<!--
using <'% ... %> that Rails should call the provide function and associate the string "Home" with the label :title.
we use the closely related notation <'%= ... %> to insert the title into the template using Ruby’s yield function
-->

<!--
The first html line of form_for is <form accept-charset="UTF-8" action="/login" method="post">
This tells Rails to use create action when login_path is passed in form_for method
-->